version: "3.8"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver1
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Jatin@2929"
      MSSQL_PID: "Developer"
    ports:
      - "1435:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped

volumes:
  sql_data:
